<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Enline File-Upload</title>
</head>
<body>
    <header>
        <h1>Enline File-Upload</h1>
    </header>
    <form id="file-form">
        <input type="file" />
    </form>
    <h3>Files:</h3>
    <ul id="files-ul">
        <% fileList.forEach(file => { %>
            <li data-testid="message"><%= file %></li>
        <% }) %>
    </ul>   
</body>
</html>