<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/styles.css">
  <title>Enline File-Upload</title>
</head>
<body>
    <header>
        <div>
            <h1>Enline File-Upload</h1>
        </div>
    </header>
    <form id="file-form"
        action="/upload"
        method="POST"
        enctype="multipart/form-data"
    >
        <input type="file" name="file" multiple/>
        <input type="submit" value="Upload" />
    </form>
    <% if (fileList.length > 0) { %>
        <section class="table">
            <h3>Files</h3>
            <ul>
                <li>
                    <span>Upload date</span>
                    <span>Name</span>
                    <span>Size</span>
                </li>
                <% fileList.forEach(file => { %>
                    <li>
                        <span><%= file.date %></span>
                        <span><%= file.originalname %></span>
                        <span><%= file.displaySize %></span>
                        <a href="./<%= file.path %>">Download</a>
                    </li>
                <% }) %>
            </ul>   
        </section>
    <% } %>
</body>
</html>